body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width:100%;
    background-color: #d3d2d2;
    
}
header{
    background-color: #444444;
    border-bottom: 5px solid #4b4949;
    text-align: center;
}
h1{
    font-size: 100%;
    margin: 0;
    padding: 10px;
}

main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

h2{
    width: 30%;
    color: #ffffff;
    background-color: #037534;
    box-shadow: 3px 3px 3px 3px #8b8b8b;
    border-radius: 50px;
    font-size: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #fff;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}

#ctr_button{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    width: 30%;
    height: 40px;
    color: #ffffff;
    list-style-type:none;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 50px;
    border: 2px solid #000000;
    box-shadow: 3px 3px 3px 3px #8b8b8b;
    background-color: #4b4949;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
button:hover{
    background: #fff;
    color:#000000;
    box-shadow: 0px 0px 0px 0px #8b8b8b;
}
input{
    margin: 10px 3%;
    width: 30%;
    height: 20px;
    font-size:80%;
    box-shadow: 2px 2px 2px 2px #8b8b8b;
    background-color:#ffffff;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  box-shadow: 2px 2px 2px 2px  #8b8b8b;
  background-color:#ffffff;
}
table{
    margin: 20px 3%;
    border:1px solid #4b4949;
    background-color: #bdbdbd;
    box-shadow: 3px 3px 3px 3px #8b8b8b;
    padding: 3px;
    width:96%;
    
}
th{
    width:20%;
    font-size:20px;
    background-color:#444444;
    border-bottom: 1px solid #4b4949;
    padding-left: 10px;
}
td{
    font-size:20px;
    font-weight: 600;
    color: #000000;
    background-color:#ffffff;
    border-bottom: 1px solid #4b4949;
    padding-left: 10px;
}

#analysis{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#ratio{
    margin: 20px 3%;
    border:1px solid #4b4949;
    background-color: #bdbdbd;
    box-shadow: 3px 3px 3px 3px #8b8b8b;
    padding: 3px;
    height: 1570px;
    width: 30%
}

#bar-graph {
    width: 70%;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: end; */
    position: relative;
    height: 1550px;
}

.bar-graph-wrap {
    position: absolute;
    top: 75px;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }

  .name{
    font-size: 20px;
    position: absolute;
    left: 10px;
  }

  .number{
    font-size: 20px;
    position: absolute;
    left: 120px;
}

#name1,#number1{
  display: none;
}
#name2,#number2{
  display: none;
} 
#name3,#number3{
  display: none;
} 
#name4,#number4{
  display: none;
} 
#name4,#number4{
  display: none;
} 
#name5,#number5{
  display: none;
} 
#name6,#number6{
  display: none;
} 
#name7,#number7{
  display: none;
} 
#name8,#number8{
  display: none;
}
#name9,#number9{
  display: none;
} 
#name10,#number10{
  display: none;
} 
#name11,#number11{
  display: none;
}
#name12,#number12{
  display: none;
} 
#name13,#number13{
  display: none;
} 
#name14,#number14{
  display: none;
} 
#name15,#number15{
  display: none;
} 
#name16,#number16{
  display: none;
} 
#name17,#number17{
  display: none;
} 
#name18,#number18{
  display: none;
} 
#name19,#number19{
  display: none;
}
#name20,#number20{
  display: none;
}
#name21,#number21{
  display: none;
}  
#name22,#number22{
  display: none;
}  
#name23,#number23{
  display: none;
}  
#name24,#number24{
  display: none;
}  
#name25,#number25{
  display: none;
}  
#name26,#number26{
  display: none;
}  
#name27,#number27{
  display: none;
}  
#name28,#number28{
  display: none;
}  
#name29,#number29{
  display: none;
}  
#name30,#number30{
  display: none;
}  

  .graph1 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }

  .graph2 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph3 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph4 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph5 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph6 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph7 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph8 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph9 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph10 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph11 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph12 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph13 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph14 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph15 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph16 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph17 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph18 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph19 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph20 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph21 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph22 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph23 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph24 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph25 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph26 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph27 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph28 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph29 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }
  .graph30 {
    background: #07d35f;
    width: 0%;
    height: 15px;
  }